<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" 
               id="oldPassword"
               name="oldPassword"
               type="password"
               class="form-control">
               <span *ngIf="oldPassword?.touched && oldPassword?.invalid"
                    class="alert alert-danger">
                    <span *ngIf="oldPassword?.errors?.['required']">
                        Old Password id required.
                    </span>
                    <span *ngIf="oldPassword?.errors?.['invalidOldPassword']">
                        Invalid Password.
                    </span>
               </span>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" 
               id="newPassword"
               name="newPassword"
               type="password"
               class="form-control">
               <span *ngIf="newPassword?.touched && newPassword?.invalid"
                    class="alert alert-danger">
                    <span *ngIf="newPassword?.errors?.['required']">
                        New Password id required.
                    </span>
               </span>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword"
               id="confirmPassword"
               name="confirmPassword"
               type="password"
               class="form-control">
               <span *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
                     class="alert alert-danger">
                   <span *ngIf="confirmPassword?.errors?.['required']">
                        Confirm Password is required.
                   </span>
                   <span *ngIf="form?.invalid && form?.errors?.['passwordsShouldMatch']" class="alert alert-danger">
                       Passwords do not match.
                   </span>
               </span>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>
