<div class="card" style="width: 30rem;">
    <h1 class="display-3 text-center">Angular with Mosh</h1>
    <img src="https://www.infragistics.com/community/cfs-file/__key/communityserver-blogs-components-weblogfiles/00-00-00-09-43/7750.angular.jpg_2D00_774x492.jpg" width="100%" alt="angular"/>
</div>


<like 
[isActive]="tweet.isLiked" 
[likesCount]="tweet.likesCount" >

</like>























<!-- <bootstrap-panel >
    <ng-container class="header">Heading</ng-container>
    <div class="body">
        <h1>Body</h1>
        <p>Type some text here...</p>
    </div>
</bootstrap-panel> -->

<!-- <input type="text" [(ngModel)]="title">

<p>{{title | titleCase}}</p> -->

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->

<!-- <app-course></app-course> -->

<!-- <app-courses></app-courses>-->