<nav class="nav">
    <img [src]="imgUrl" width="150px" alt="angular"/>
    <h1 class="display-3">{{title}}</h1>
    
</nav>


<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>No courses yet</ng-template>



<!-- <like 
[isActive]="tweet.isLiked" 
[likesCount]="tweet.likesCount" >

</like> -->

<!-- <bootstrap-panel >
    <ng-container class="header">Heading</ng-container>
    <div class="body">
        <h1>Body</h1>
        <p>Type some text here...</p>
    </div>
</bootstrap-panel> -->

<!-- <input type="text" [(ngModel)]="title">

<p>{{title | titleCase}}</p> -->

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->

<!-- <app-course></app-course> -->

<!-- <app-courses></app-courses>-->