<nav class="nav">
    <img [src]="imgUrl" width="100px" alt="angular"/>
    <h1 class="display-3">{{title}}</h1>
</nav>

<!-- Consuming HTTP Services: -->
<posts></posts>




<!-- Reactive Forms: -->
<!-- <signup-form></signup-form> -->
<!-- <new-course-form></new-course-form> -->
<!-- <change-password></change-password> -->



<!-- Template Driven Forms: -->

<!-- Course Form Exercise Solution -->
<!-- <new-course-form></new-course-form> -->

<!-- Building a Basic Template Driven Bootstrap Form -->
<!-- <contact-form></contact-form> -->


<!-- Zippy Exercise - Solution -->
<!-- <zippy title="Shipping details">
    Shipping Details Content
</zippy> -->

<!-- Custom Directives -->
<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- Safe Traversal Operator  -->
<!-- <span>{{task.asignee?.name}}</span> -->


<!-- <button [style.backgroundColor]="canSave? 'blue': 'gray'"
        [style.color]="canSave? 'white': 'black'"
        [style.fontWeight]="canSave ? 'bold': 'normal'" -->

<!-- same functionality with ngStyle:     -->
   <!-- <button     
        [ngStyle]="{
        'backgroundColor': canSave ? 'blue': 'gray',
        'color': canSave ? 'white': 'black',
         'font-weight': canSave ? 'bold': 'normal'
        }" >
    Save
</button> -->

<!-- <button class="bnt btn-info" (click)="onAdd()">Add</button>
<ul style="list-style: none">
   <li *ngFor="let course of courses; index as i">{{i+1}}. {{course.name}}<button class="btn btn-danger" (click)="onRemove(course)">Remove</button></li>
</ul> -->

<!-- <ul style="list-style: none;">
    <li *ngFor="let course of courses; even as isEven; index as i">{{i+1}}. {{course.name}}<span *ngIf="isEven"> > Is even</span></li>
</ul> -->

<!-- <ul class="nav nav-pills">
    <li class="nav-item"><a [class.active]="viewMode == 'map'" class="nav-link" (click)="viewMode = 'map'">Map View</a></li>
    <li class="nav-item"><a [class.active]="viewMode == 'list'" class="nav-link" (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->


<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>No courses yet</ng-template> -->



<!-- <like 
[isActive]="tweet.isLiked" 
[likesCount]="tweet.likesCount" >

</like> -->

<!-- <bootstrap-panel >
    <ng-container class="header">Heading</ng-container>
    <div class="body">
        <h1>Body</h1>
        <p>Type some text here...</p>
    </div>
</bootstrap-panel> -->

<!-- <input type="text" [(ngModel)]="title">

<p>{{title | titleCase}}</p> -->

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->

<!-- <app-course></app-course> -->

<!-- <app-courses></app-courses>-->