<body>
  <div class="welcome-message">{{welcomeMessage}}</div>
  <img [attr.src]="imageUrl" width="100px" />
<section>
  <app-name-input *ngIf="isVisible" inputValue="new text"></app-name-input>
</section>
  <p *ngIf="isVisible">Surprice !!!!</p>
  <button (click)="toggleHandler()">
     Push
  </button>

  <section>
    <ul>
      <li *ngFor="let user of users">
        <span>
          {{user.firstname}}
        </span>
        <span>{{user.age}}</span>
      </li>
    </ul>
  </section>
  
</body>
 

